<li class="item">

    <div class="product-miniature js-product-miniature" data-id-product="1" data-id-product-attribute="1" itemscope
         itemtype="http://schema.org/Product">
        <div class="thumbnail-container">
            <div class="image-block">
                <a href="#" class="thumbnail product-thumbnail">
                    <img
                            class="primary-image"
                            src="img/p/3/1/31-home_default.jpg"
                            alt=""
                            data-full-size-image-url="img/p/3/1/31-large_default.jpg"
                    >

                    <img class="replace-2x img_hover img-responsive secondary-image" src="img/p/3/0/30-home_default.jpg"
                         data-full-size-image-url="https://prestashop.thementic.com/PRS01/PRS0100027/img/p/3/0/30-large_default.jpg"
                         alt=""/>

                </a>


            </div>

            <ul class="product-flags">
                <li class="on-sale">On sale!</li>
            </ul>

            <div class="highlighted-informations hidden-sm-down">


                <div class="variant-links">
                    <a href="index2131.html?id_product=1&amp;id_product_attribute=1&amp;rewrite=faded-short-sleeves-tshirt&amp;controller=product&amp;id_lang=1#/1-size-s/13-color-orange"
                       class="color"
                       title="Orange"

                       style="background-color: #F39C11"><span class="sr-only">Orange</span></a>
                    <a href="index703f.html?id_product=1&amp;id_product_attribute=2&amp;rewrite=faded-short-sleeves-tshirt&amp;controller=product&amp;id_lang=1#/1-size-s/14-color-blue"
                       class="color"
                       title="Blue"

                       style="background-color: #5D9CEC"><span class="sr-only">Blue</span></a>
                    <span class="js-count count"></span>
                </div>

            </div>
        </div>
        <div class="product-description">

            <div class="comments_note">
                <div class="star_content clearfix">
                    <div class="star star_on"></div>
                    <div class="star star_on"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </div>
                <span>2 Review(s)&nbsp</span>
            </div>


            <span class="h3 product-title" itemprop="name"><a href="#" title="elementum urna">elementum urna</a></span>


            <div class="product-price-and-shipping">
                <span itemprop="price" class="price">$15.85</span>


                <span class="regular-price">$19.81</span>
                <span class="discount-percentage">-20%</span>


            </div>


            <div class="product-actions">
                <form action="https://prestashop.thementic.com/PRS01/PRS0100027/index.php?controller=cart" method="post"
                      class="add-to-cart-or-refresh">
                    <input type="hidden" name="token" value="6248097a7c1c2c136ba5a1a5552f0066">
                    <input type="hidden" name="id_product" value="1" class="product_page_product_id">
                    <input type="hidden" name="id_customization" value="0" class="product_customization_id">
                    <button class="btn btn-primary add-to-cart" data-button-action="add-to-cart" type="submit"
                            title="Add to cart">
                        Add to cart
                        <!--<span class="pst-product-cart pst-product-tooltip">Add to cart</span>-->
                    </button>
                </form>
                <a href="#" class="quick-view" data-link-action="quickview" title="Quick View">
                    Quick view
                    <!--<span class="pst-product-quickview pst-product-tooltip">Quick View</span>-->
                </a>
            </div>


        </div>
    </div>

</li>